body {
    background-color: #f8f9fa;
    background-image: url('../../images/bACK\ gROUND\ 02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.registration-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(25, 25, 81);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f8f9fa;

}


        /* body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        } */

        .container {
            margin-top: 50px;
            max-width: 600px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }
        #timingFrom, #timingTo {
            background-color: #e6f7ff; /* Light blue background color */
        }

        .btn-submit {
            background-color: #28a745;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-submit:hover {
            background-color: #218838;
        }
    